
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Datafish Stream</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.css" rel="stylesheet">

  <!-- Add custom CSS here -->
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
  <link href="/css/stylish-portfolio.css" rel="stylesheet">
  <!--link href="css/flat-ui.css" rel="stylesheet"-->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="javascripts/sidr/stylesheets/jquery.sidr.light.scss">-->
  
  <link href="/js/c3-0.4.1/c3.css" rel="stylesheet" type="text/css">

  <!-- Load d3.js and c3.js -->
  <script src="/js/d3.min.js" charset="utf-8"></script>
  <script src="/js/c3-0.4.1/c3.min.js"></script>
  <!-- JavaScript -->
  <script class="cssdeck" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.js"></script>
  <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->

  <script src="js/grayscale.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['annotationchart']}]}"></script>
  <!-- Include jQuery -
  <script src="javascripts/jquery.js"></script>
  <!-- Include the Sidr JS --
  <script src="javascripts/sidr/jquery.sidr.js"></script> -->
</head>

<body ng-app="userApp" ng-controller="UserCtrl" id="page-top" class="header" data-spy="scroll" data-target=".navbar-custom">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a href="/explore"><img src="img/logo.png"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-right collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>

          <li id="following">
            <a href="/explore">Explore</a>
          </li>
          <li id="following">
            <a href="/dashboard">Following</a>
          </li>
          <li id="favorites">
            <a href="/mystreams">My Streams</a>
          </li>
          <!--li id="search" class="search">
              

           <input ng-model="query" id="logEmail" type="text" placeholder="Search" />
           <span class="input-group-btn">
                <button type="submit" class="btn"><span class="fui-search"></span></button>
            </span>    
        
          </li--> <!--Search: (outside brackets) input ng-model="query" type="text"/-->

          <li id="new-datapoint">
            <a href="#newBubbleModal" data-toggle="modal" data-target="#newBubbleModal">New Databubble</a>
          </li>
          <li id="options" >
            <a href="#">{{users.name}} <i class="fa fa-angle-down"></i></a>
            <ul class="subnav">
              <li><a href="/account">Profile</a></li>
              <li id="new-stream">
                <a href="#newStreamModal" data-toggle="modal" data-target="#newStreamModal">New Stream</a>
              </li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>



    <div id="top" class="dash container">
     <div class="stream">
      <div class="stream-info">
        <div class="row col-md-2 col-xs-2 card-genre">
          <a href="#about">
            <img align="left" id="genreImg" src="/img/Health.png"> <!-- Edit this for specific genre -->
          </a>
        </div>
        <div class="row col-md-offset-1 col-md-7 col-xs-offset-1 col-xs-7 card-title">
          <h1 id="name"></h1>
          <!--a ng-href="/streamPage?id={{stream}}"></a--> <!-- Edit this for specific title -->
        </div>
        <div class="row col-md-2 card-follow">
          <a style="text-decoration: none;">
            <p align="right" ng-click="toggleFollow()" style="color:white;font-size:30px;padding-top:20px">{{following.indexOf(id) >= 0 && '- Unfollow' || '+ Follow'}}</p> <!-- Edit this if not a plus sign -->
          </a>
        </div>
      <!--div class="row col-md-offset-1 col-md-3 card-genre">icon</div>
      <div id="description" class="row col-md-5 description"></div>
      <div class="row col-md-offset-1 col-md-2 card-follow">Follow</div-->
      </div>

      <div class="stream-graph">
        <div class="row">
        </div>
        <div class="row col-md-2 card-unit"></div>
        <!--<div class="row col-md-8 card-value">
          <div id="chart"></div>
        </div>-->
        <div class="row col-md-8" style='text-align:center; height: 500px;' id="chart_div"></div>
      </div>
      <div class="stream-footer">
        <div class="col-md-offset-1 row col-md-5 card-date" style="color:white" id="date">11-16-14</div>
        <div class="row col-md-1 card-star" id="delete" style="color:red" >Delete</div>
        <div class="row col-md-1 card-star" style="color:white" >Edit</div>
        <div class="row col-md-1 card-star" style="color:white" >Favorite</div>
      </div>
    </div>
  </div>

  <!-- Populate the top bar for signed in users -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
  <script>
    var app = angular.module('userApp', []);
    var chart;

    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    app.controller('UserCtrl', function($scope, $http){

      $http.get('/user').success(function(data) {
        $scope.user = data;
        console.log($scope.user);

        if ($scope.user != "null") {
          $scope.owner = $scope.user.owner;
          $scope.following = $scope.user.following;

              /*for (var j = 0; j < $scope.user.owner.length; j ++) {
                $scope.following.push($scope.user.owner[j]);
              }*/

  //          console.log($scope.owner)
          $scope.ownerObjs = [];

          $scope.id = getParameterByName('id');
          console.log($scope.following.indexOf($scope.id))

          $scope.toggleFollow = function() {
            if ($scope.following.indexOf($scope.id) >= 0) {
                console.log('unfollow: ' + $scope.id);
                $.post('/user', {
                    unfollow: $scope.id
                })
                $('#follow').text('+ Follow');
                $scope.following.splice($scope.following.indexOf($scope.id),1);
            } else {
                console.log('follow: ' + $scope.id);
                $.post('/user', {
                    follow: $scope.id
                })
                $('#follow').text('- Unfollow');
                $scope.following.push($scope.id);
            }
          }
          
          /*for (i = 0; i < $scope.owner.length; i++) {
            $http.get('/stream?id=' + $scope.owner[i]).success((function(i){return function(data) {
              if (data != '') {
                //$scope.ownerObjs.push(data);
                // console.log('Owner Objs:')
                // console.log($scope.owner[i])
                // console.log(data)
                // console.log($scope.ownerObjs)
              //                      console.log(data.latestValue)
              }
            };})(i));
          }*/

          /*$http.get('/hack/allStreams').success(function(data) {
            $scope.all = data;
            //console.log($scope.all);
            for (i = 0; i < $scope.all.length; i++) {
              //console.log($scope.all[i]);
              //(function(i){return function(data) {}; })(i)
              
              $scope.bubbles = {};
              $http.get('/stream?id=' + $scope.all[i]._id).success((function(i){return function(data) {
                var streamid = $scope.all[i]._id;
              //  console.log(data)
                $scope.bubbles[streamid] = data;
                latest = 0;
                if (data.latestValue != null) {
                  latest = data.latestValue;
                }
                $scope.bubbles[streamid].recent = latest;
                //console.log(data.latestValue);

                if ($scope.bubbles[streamid].genre == 'health') {
                  $scope.bubbles[streamid].genreSrc = "/img/Health.png";
                  
                } else if ($scope.bubbles[streamid].genre == 'finance') {
                  $scope.bubbles[streamid].genreSrc = "/img/Finance.png";

                } else if ($scope.bubbles[streamid].genre == 'environment') {
                  $scope.bubbles[streamid].genreSrc = "/img/Environment.png";

                } else if ($scope.bubbles[streamid].genre == 'politics') {
                  $scope.bubbles[streamid].genreSrc = "/img/Politics.png";

                } else if ($scope.bubbles[streamid].genre == 'sports') {
                  $scope.bubbles[streamid].genreSrc = "/img/Sports.png";

                } else if ($scope.bubbles[streamid].genre == 'tv') {
                  $scope.bubbles[streamid].genreSrc = "/img/TV.png";

                } else if ($scope.bubbles[streamid].genre == 'energy') {
                  $scope.bubbles[streamid].genreSrc = "/img/Energy.png";

                } else if ($scope.bubbles[streamid].genre == 'education') {
                  $scope.bubbles[streamid].genreSrc = "/img/Education.png";

                } else if ($scope.bubbles[streamid].genre == 'business') {
                  $scope.bubbles[streamid].genreSrc = "/img/Business.png";

                } else if ($scope.bubbles[streamid].genre == 'inequality') {
                  $scope.bubbles[streamid].genreSrc = "/img/Inequality.png";

                }

              }; })(i));
            }
          });*/
          //console.log($scope.bubbles)
        }
      });
    });



    $(document).ready(function(){
      
      console.log(getParameterByName('id'))

      $('#delete').click(function() {
        var r = confirm('Do you really want to delete this stream?');
        if (r) {
          $.ajax({
            url: '/stream?id=' + getParameterByName('id'),
            type: 'DELETE',
            success: function() {
              window.location.reload();
            }
          });
        }
      });

      google.setOnLoadCallback(function() {
        //var table = new google.visualization.DataTable();

        $.get('http://datafish.nodejitsu.com/stream?id=' + getParameterByName('id'), function(data) {
          /*
          $.each(data.points, function (index, point) {
              $('#myElement').data('key',jsonObject);
            }  */
          //$('#myElement').data('key',jsonObject);
          $('#name').text(data.name);
          $('#genre').text(data.genre);
          $('#tags').text(data.tags);
          $('#description').text(data.description);
          $('#source').text(data.source);                            
          $('#data').text(data.points);
          $('#date').text("Latest Update: " + (new Date(parseInt(data.latestTime))).toDateString());

          if (data.genre == 'health') {
            $('#genreImg').attr('src',"/img/Health.png");
          } else if (data.genre == 'finance') {
            $('#genreImg').attr('src',"/img/Finance.png");
          } else if (data.genre == 'environment') {
            $('#genreImg').attr('src',"/img/Environment.png");
          } else if (data.genre == 'politics') {
            $('#genreImg').attr('src',"/img/Politics.png");
          } else if (data.genre == 'sports') {
            $('#genreImg').attr('src',"/img/Sports.png");
          } else if (data.genre == 'tv') {
            $('#genreImg').attr('src',"/img/TV.png");
          } else if (data.genre == 'energy') {
            $('#genreImg').attr('src',"/img/Energy.png");
          } else if (data.genre == 'education') {
            $('#genreImg').attr('src',"/img/Education.png");
          } else if (data.genre == 'business') {
            $('#genreImg').attr('src',"/img/Business.png");
          } else if (data.genre == 'inequality') {
            $('#genreImg').attr('src',"/img/Inequality.png");
          }


          var table1 = new google.visualization.DataTable();
          table1.addColumn('date', 'Date');
          table1.addColumn('number', data.name);
          table1.addColumn('string', 'Kepler title');
          table1.addColumn('string', 'Kepler text');

          columnData = [];
          for (var n = 0; n < data.points.length; n++) {
            columnData.push([new Date(parseInt(data.points[n].time)), data.points[n].value, undefined, ''+data.points[n].value+' '+data.unit]);
          }
          console.log(columnData)

          table1.addRows(columnData);
          /*[
            [new Date(2314, 2, 15), 12400, undefined, undefined],
            [new Date(2314, 2, 16), 24045, 'Lalibertines', 'First encounter'],
            [new Date(2314, 2, 17), 35022, 'Lalibertines', 'They are very tall'],
            [new Date(2314, 2, 18), 12284, 'Lalibertines', 'Attack on our crew!'],
            [new Date(2314, 2, 19), 8476, 'Lalibertines', 'Heavy casualties'],
            [new Date(2314, 2, 20), 0, 'Lalibertines', 'All crew lost']
          ]);*/

          chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));


          google.visualization.events.addListener(chart, 'select', function() {
            var point = data.points[chart.getSelection()[0].row];
            var r = confirm('Remove this point? (' + point.value + ' ' + data.unit + ', ' + (new Date(parseInt(point.time))).toDateString() + ')');
            if (r) {
              $.ajax({
                url: '/point?id=' + point._id,
                type: 'DELETE',
                success: function() {
                  window.location.reload();
                }
              });
            }
          });

          var options = {
            displayAnnotations: true
          };

          chart.draw(table1, options);

        });
        
      });
      google.load('visualization', '1', {'packages':['annotationchart']});
        

      

      // var description = getParameterByName('description')
      // var picture = getParameterByName('picture')
      // var points = getParameterByName('points')
      // console.log("description is" + description)
      // console.log("picture is" + picture)
      // console.log("points is" + points)
      // console.log(getParameterByName('name'))

    });
  </script>
</body>
</html>